@use 'variaveis';

.hero {
    padding: 5.6vw;
    height: 90vh;
    background-image: url(../images/hobbit_hero2.jpg);
    text-align: left;
    background-size: cover;
    margin-bottom: 80px;
    
    color: variaveis.$corTextoPrincipal;

    &__content {
        max-width: 660px;
        
        

        &__branding {
            padding-bottom: 4vw;
            font-family: Ringm;

            h1 {
                font-size: 80px;
                color: variaveis.$corTitlo;
                padding-top: 40px;
                
            }
        
            p {
                font-size: 28px;
                padding-top: 20px;
                color: variaveis.$corTextoSecundario;
            }
    
        }

        h2 {
            font-family: Avenir, sans-serif;
            font-size: 18px;
            padding-bottom: 8px;
        }

        &__streaming {
                display: flex;
                justify-content: space-evenly;
    
    
            &__stream{
                width: 50% ;
        
                img {
                    max-width: 20vw;
                    border-radius: 8px;
                    
                }

                a {
                    text-decoration: none;
                    color: variaveis.$corTextoSecundario;

                    p {
                        font-family: Avenir;
                        font-size: 20px;
                        width: 12vw;
                        padding-bottom: 4px;

                        &:hover {
                            color: variaveis.$corTextoPrincipal;
                            font-family: Midle;
                            font-size: 22px;
                            border-bottom: 4px solid variaveis.$corTitlo;
                        }
                    }
                }
            }
        }
    }
    
    .text {
        display: flex;
        padding-top: 4px;
    }
}