@use 'variaveis';

.movies {
    padding: 2vw 5.6vw;
    min-height: 50vw;       
    color: variaveis.$corTextoPrincipal;


    

    &__list {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            display: block;
        }

        &__item {
            max-width: 26vw;
            border-radius: 4px;

            img {
                margin-bottom: 10px;
                border-radius: 4px;

                @media (max-width: 768px) {
                    margin-top: 10px;
                }

                &:hover {
                    border: 4px solid variaveis.$corTextoSecundario;
                }
            }
            p {
                font-size: 20px;
                font-family: sans-serif;
                line-height: 1.4;
                padding-top: 10px;
                color: variaveis.$corTextoSecundario;

                @media (max-width: 768px) {
                   width: 100vw
                }
            }

        }
    }
}