@use 'variaveis';
@use 'hero';
@use 'movies';
@use 'curiosities';
@use 'header';
@use 'footer';


@font-face {
    font-family: Ringm;
    src: url(../../assets/fonts/RINGM___.TTF);
    font-weight: 400;
}


@font-face {
    font-family: Midle;
    src: url(../../assets/fonts/middleearth-28347/Middleearth-ao6m.ttf);
    font-weight: 700;
}
@font-face {
    font-family:Ringbear;
    src: url(../../assets/fonts/ringbearer-2246/RingbearerMedium-51mgZ.ttf);
    font-weight: 700;
}
@font-face {
    font-family:Ring;
    src: url(../../assets/fonts/the-one-ring-3941/Theonering-Xq3d.ttf);
    font-weight: 700;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


body {
    background-color: variaveis.$corDeFundo;

}

.title--big {
    padding-bottom: 40px;
    font-size: 30px;
    font-family: Ringbear;
    color: variaveis.$corTextoPrincipal;

    @media (max-width: 768px) {
        font-size: 20px;
    }
}

.title {
    font-family: Ringbear;
    font-size: 20px;
    margin: 10px 0 0;

}

.anel {
    font-family: Ring;
    font-size: 60px;
    color: variaveis.$corTitlo;
    padding-bottom: 10px;


    @media (max-width: 768px) {
        font-size: 30px;
        padding-top: 20px;
    }

}