@use 'variaveis';
@use 'hero';



@font-face {
    font-family: Ringm;
    src: url(../../assets/fonts/RINGM___.TTF);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: Hobbiton;
    src: url(../../assets/fonts/hobbiton-brushhand-2253/HobbitonBrushhandhobbitonBrush-WygA.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Midle;
    src: url(../../assets/fonts/middleearth-28347/Middleearth-ao6m.ttf);
    font-weight: 700;
}
@font-face {
    font-family:Ringbear;
    src: url(../../assets/fonts/ringbearer-2246/RingbearerMedium-51mgZ.ttf);
    font-weight: 700;
}
@font-face {
    font-family:Ring;
    src: url(../../assets/fonts/the-one-ring-3941/Theonering-Xq3d.ttf);
    font-weight: 700;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


body {
    background-color: variaveis.$corDeFundo;

}